[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
switch-inputs = {editable = true,path = "."}

[dev-packages]
pandas = "*"
request = "*"
pyyaml = "*"
tqdm = "*"
requests = "*"
rtree = "*"
twine = "*"
wheel = "*"
click = "*"
bumpversion = "*"
switch-inputs = {editable = true,path = "."}
flake8 = "*"

[requires]
python_version = "3.6"
